.page{
	// position: absolute;
	// left: 0;
	// top: 0;
	// width: 100%;
	// height: 100%;
	// overflow-x: hidden;
	// overflow-y: auto;
	// padding-bottom: 100rpx;
	background-color: #FFFFFF;
}
.searchmodal{
	width: 100%;
	height: 100vh;
	background-color:#3131319c;
	position: fixed;
	top: 110px;
	z-index: 9999;
	.content{
		width: 100%;
		height: 134rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #e8e9eb;
		background-color:#fff;
		.search{
			display: flex;
			align-items: center;
			margin: 0 auto;
			width: 80%;
			padding: 0 20rpx;
			height: 85rpx;
			
			
		}
	}
}
.limitpage{
	width: 100%;
	height: 100rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	.icon{
		width: 52px;
		height: 38px;
		line-height: 38px;
		text-align: center;
		background-color: #fff;
		color: #3d4246;
		border: 1px solid #e8e9eb;
		margin:0 40rpx;
	}
	.pages{
		color: #3d4246;
		font-size: .9375em;
	}
}
.popcss{
	width: 200px;
	border-radius: 10rpx;
	background-color: #232f3e;
	color: #FFFFFF;	
	.locale-setting{
		width: 100%;
		height: 30px;
		text-indent: 1rem;
	}
	.locale-list{
		.locale-item{
			text-indent: 2rem;
			width: 100%;
			height: 30px;
		}
		
	}
	.closebtn{
		text-align: center;
		width: 100%;
		height: 30px;
		
	}
	
}
.headtitle{
	width: 100%;
	height: 88rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f4fff3;
	.himg{
		width: 224rpx;
		height:36rpx;
	}
	text{
		margin:0 15rpx;
		color:#313131;
		font-size: 10px;
		font-weight: bold;
	}
}
.youhui{
	    color: #fff;
	    display: block;
		text-align: center;
	    font-size: 0.9em;
	    font-weight: 700;
	    text-transform: uppercase;
	    padding: 15px 22px;
	    letter-spacing: 2px;
		background-color: $base;
}
.homenav{
	width: 100%;
	height: 134rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #e8e9eb;
	.logo{
		width: 45%;
		image{
			width: 100%;
			height: 100rpx;
		}
	}
	.content{
		text{
			color:#70a18c;
			font-weight: bold;
			font-size: 44rpx;
			margin-right: 20rpx;
		}
	}
}
.navlist{
	width: 100%;
	height: 100%;
	overflow: hidden;
		

	
	.li{
		display: flex;
		justify-content: space-between;	
		padding: 15px 30px;
		font-size: 16px;
		color: #2e6669;
		text-align: left;
		border-bottom: 1px solid #e8e9eb;
	}
	.li:hover{
		background-color: $base;
		color: #fff;
	}
}
.aboutme{
	background-color: $base;
	.li{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		.aboutimg1{
			margin: 50rpx 0;
			width: 410rpx;
			height: 100rpx;
		}
		.aboutimg2{
			margin: 50rpx 0;
			width: 310rpx;
			height: 100rpx;
		}
		.aboutimg3{
			margin: 50rpx 0;
			width: 77rpx;
			height: 100rpx;
			margin-right: 40rpx;
		}
		.aboutimg4{
			margin: 50rpx 0;
			width: 197rpx;
			height: 100rpx;
		}
	}
}
.copyright{
	width: 100%;
	padding: 30rpx 30rpx;
	color: #999;
	font-size: 11px;
}
.china{
	width: 200rpx;
	margin: 30rpx auto;
	height: 80rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
}
.smallabout{
	width: 100%;
	padding: 30rpx 30rpx;
	color: #666;
	font-size: 10px;
	text-align: center;
}


.navshow{
	display: block;
	transform: translate3d(0px, 100%, 0px);
}
.navhidden{
	display: none;
	transform: translate3d(0px, -100%, 0px);
}

.head-info{
	position: fixed;
	left: 0;
	top: 44px;
	z-index: 100;
	width: 100%;
	/* #ifdef APP-PLUS||H5 */
	padding: calc(20rpx + var(--status-bar-height)) 25rpx 0;
	height: calc(200rpx + var(--status-bar-height));
	/* #endif */
	/* #ifdef MP */
	padding:0 25rpx;
	height: 170rpx;
	/* #endif */
	background: linear-gradient($base, $base);
	background-size: 100% 433rpx;
	background-color: #FFFFFF;
	overflow: hidden;
	.head-search{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.icon-info{
			display: flex;
			align-items: center;
			height: 100%;
			text{
				font-size: 52rpx;
				color: #f6f6f6;
			}
			image{
				width: 42rpx;
				height: 43rpx;
			}
		}
		.search{
			display: flex;
			align-items: center;
			width: 90%;
			padding: 0 20rpx;
			height: 65rpx;
			background-color: rgba(255,255,255,0.3);
			border-radius: 10rpx;
			.icon{
				display: flex;
				align-items: center;
				margin-right: 20rpx;
				image{
					width: 27rpx;
					height: 29rpx;
				}
			}
			.hint{
				display: flex;
				align-items: center;
				.max{
					font-size: 30rpx;
					font-weight: bold;
					color: #FFFFFF;
				}
				.min{
					font-size: 24rpx;
					color: #F6f6f6;
					margin-left: 10rpx;
				}
			}
		}
	}
	.classify-list{
		white-space:nowrap;
		width: 100%;
		height: 100rpx;
		overflow-x: auto;
		overflow-y: hidden;
		.list{
			position: relative;
			display:inline-block;
			width: 20%;
			height: 100%;
			line-height: 100rpx;
			text-align: center;
			text{
				font-size: 28rpx;
				color: #FFFFFF;
				opacity: 0.8;
			}
			.line{
				position: absolute;
				left: 50%;
				bottom: 20rpx;
				width: 60%;
				height: 8rpx;
				background: linear-gradient(to right,#efefef,#cccccc);
				border-radius: 10rpx;
				transform: translate(-50%,0);
			}
		}
		.action{
			text{
				font-size: 32rpx;
				opacity: 1;
			}
		}
	}
}
.main{
	/* #ifdef APP-PLUS||H5 */
	margin-top: calc(20rpx + var(--status-bar-height));
	/* #endif */
	/* #ifdef MP */
	margin-top: 170rpx;
	/* #endif */
	padding-top: 20rpx;
	background-color: #FFFFFF;
}
.homejieshao{
	width: 100%;
	height: 100%;
	.li{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: 30rpx 0;
	}
	text{
		display: inline-block;
		width: 100%;
		text-align: center;
		color: $text-clor;
		font-size: 32rpx;
	}
	.mubiao{
		width: 500rpx;
		height: 200rpx;
	}
	.jimg1{
		width: 160rpx;
		height: 110rpx;
		margin-top: 30rpx;
		margin-bottom: 60rpx;
	}
	.jimg2{
		width: 140rpx;
		height: 140rpx;
		margin-top: 30rpx;
		margin-bottom: 60rpx;
	}
}
.procat{
	width: 100%;
	height: 100%;
	.protitle{
		width: 100%;
		color: $base;
		margin: 30rpx 0;
		text-align: center;
		font-size: 60rpx;
	}
	.list{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		.li{
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			font-size: 1.25em;
			color: #3d4246;
			text{
				margin:30rpx 0;
			}
			.li-img{
				width: 330rpx;
				height: 330rpx;
				
			}
		}
		.li2{
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			font-size: 1.25em;
			color: #3d4246;
			.title{
				width: 330rpx;
				text-align: center;
				display: block;
				height: 100rpx;
				overflow: hidden;
				margin-top: 15rpx;
			}
			.price{
				font-size: 16px;
				margin-bottom: 15rpx;
			}
			.cart{
				font-family: Arial,sans-serif;
				width: 330rpx;
				height: 80rpx;
				line-height: 80rpx;
				background-color: $btn-clor;
				border-radius: 6rpx;
				color: #fff;
				font-size: 28rpx;
				text-align: center;
				margin-bottom: 30rpx;
				.icon-cart{
					margin-right: 10rpx;
				}
			}
			.li-img{
				width: 330rpx;
				height: 330rpx;
				
			}
		}
		.li3{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			font-size: .9375em;
			color: #3d4246;
			.title{
				width: 700rpx;
				// text-align: center;
				display: block;
				height: 60rpx;
				line-height: 80rpx;
				overflow: hidden;
				margin-top: 15rpx;
			}
			.price{
				width: 700rpx;
				margin: 10rpx 0 20rpx;
			}
			.cart{
				font-family: Arial,sans-serif;
				width: 700rpx;
				height: 80rpx;
				line-height: 80rpx;
				background-color: $btn-clor;
				border-radius: 6rpx;
				color: #fff;
				font-size: 28rpx;
				text-align: center;
				margin-bottom: 30rpx;
				.icon-cart{
					margin-right: 10rpx;
				}
			}
			.li-img{
				width: 700rpx;
				height: 700rpx;
				
			}
		}
		
	}
}
/* banner */
	.banner{
		padding: 0 25rpx;
		height: 330rpx;
		// margin-bottom: 1s0rpx;
		// margin: -200rpx auto 20rpx;
		border-radius: 10rpx;
		overflow: hidden;
		.screen-swiper{
			height: 100%;
			min-height: 100% !important;
			image{
				height: 330rpx;
				border-radius: 10rpx;
			}
		}
	}
/* 菜单导航 */
.menu-nav{
	position: relative;
	width: 100%;
	height: 300rpx;
	margin:30rpx auto;
	.nav-list{
		white-space: nowrap; 
		height: 270rpx;
		width: 100%;
		.nav{
			display: inline-block;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between;
			height: 270rpx;
		}
		.list{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 20%;
			height: 130rpx;
			margin-bottom: 20rpx;
			image{
				width: 75rpx;
				height: 75rpx;
				border-radius: 100%;
			}
			text{
				font-size: 26rpx;
				color: #000000;
				margin-top: 10rpx;
			}
		}
	}
	.indicator{
		position: absolute;
		left: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 30rpx;
		.plan{
			position: relative;
			width: 100rpx;
			height: 8rpx;
			border-radius: 8rpx;
			background-color: #e1e1e1;
			.bar{
				position: absolute;
				width: 50%;
				height: 100%;
				border-radius: 6rpx;
				background-color: $base;
			}
		}
	}
}
/* 通知 */
.inform{
	padding: 0 25rpx;
	height: 130rpx;
	// margin: 30rpx auto;
	border-bottom: 16rpx solid #f9f9f9;
	.inform-info{
		display: flex;
		padding: 0 20rpx;
		height: 130rpx;
		background-color: #f7f7f7;
		border-radius: 10rpx;
		.picture{
			width: 20%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			image{
				width: 93rpx;
				height: 84rpx;
				// margin-top: -20rpx;
			}
		}
		.info{
			width: 80%;
			height: 100%;
			.swiper{
				width: 100%;
				height: 100%;
				.swiper-item{
					display: flex;
					align-items: center;
					width: 100%;
					height: 100%;
					text{
						font-size: 28rpx;
						color: #848281;
					}
				}
			}
		}
	}
}	

//倒计时
.time {
    @include flex;
    align-items: center;
	

    &__custom {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 36rpx;
         height: 30rpx;
         background-color: $price-clor;
         font-size: 28rpx ;
         color: #FFFFFF;
         border-radius: 6rpx;
    
        &__item {
             color: #fff;
			font-size: 28rpx ;
             text-align: center;
         }
    }
    
    &__doc {
        font-size: 28rpx;
        color: #212121;
        margin: 0 6rpx;
     }
    
    &__item {
         color: #606266;
			font-size: 28rpx ;
         margin-right: 4px;
     }
}
/* 限时抢购，好货精选 */
.flash-good{
	display: flex;
	align-items: center;
	padding: 0 25rpx;
	height: 320rpx;
	background-color: #FFFFFF;
	border-bottom: 16rpx solid #f9f9f9;
	.flash-sale{
		position: relative;
		width: 50%;
		height: 100%;
		.line{
			position: absolute;
			right: 0;
			top: 50%;
			width: 2rpx;
			height: 80%;
			background-color: #f9f9f9;
			transform: translate(0,-50%);
		}
		.flash-title{
			display: flex;
			align-items: center;
			// justify-content: space-between;
			width: 100%;
			height: 80rpx;
			.pictrue{
				display: flex;
				align-items: center;
				height: 100%;
				image{
					width: 118rpx;
					height: 28rpx;
				}
			}
			.date-time{
				display: flex;
				align-items: center;
				margin-left: 50rpx;
				.time{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40rpx;
					height: 40rpx;
					background-color: $price-clor;
					font-size: 24rpx ;
					color: #FFFFFF;
					border-radius: 6rpx;
				}
				.da{
					font-size: 24rpx;
					color: #212121;
					margin: 0 6rpx;
				}
			}
		}
		.goods-list{
			display: flex;
			width: 100%;
			height: 220rpx;
			.list{
				width: 50%;
				height: 100%;
				.pictrue{
					width: 100%;
					height: 100%;
					image{
						width: 150rpx;
						height: 150rpx;
					}
				}
				.price{
					display: flex;
					align-items: center;
					width: 100%;
					height: 30%;
					.selling-price{
						font-size: 28rpx;
						font-weight: bold;
						color: $price-clor;
					}
					.original-price{
						font-size: 24rpx;
						text-decoration: line-through;
						color: #bbbaba;
						margin-left: 10rpx;
					}
				}
			}
		}
	}
	.good-choice{
		width: 50%;
		height: 100%;
		.goods-title{
			display: flex;
			align-items: center;
			padding: 0 20rpx;
			height: 80rpx;
			.title{
				display: flex;
				align-items: center;
				text{
					font-size: 28rpx;
					color: #4c4b4b;
				}
			}
			.describe{
				display: flex;
				align-items: center;
				margin-left: 10rpx;
				text{
					font-size: 24rpx;
					color: #979696;
				}
				.num{
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 6rpx;
					width: 30rpx;
					height: 30rpx;
					background-color: $price-clor;
					color: #FFFFFF;
					border-radius: 6rpx;
				}
			}
		}
		.goods-list{
			display: flex;
			width: 100%;
			height: 220rpx;
			.list{
				width: 50%;
				height: 100%;
				.pictrue{
					width: 100%;
					height: 70%;
					image{
						width: 150rpx;
						height: 150rpx;
					}
				}
				.price{
					display: flex;
					align-items: center;
					width: 100%;
					height: 30%;
					.selling-price{
						font-size: 28rpx;
						font-weight: bold;
						color: $price-clor;
					}
					.original-price{
						font-size: 24rpx;
						text-decoration: line-through;
						color: #bbbaba;
						margin-left: 10rpx;
					}
				}
			}
		}
	}
}

.flash-good2{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 25rpx;
	height: 100rpx;
	background-color: #FFFFFF;
	border-bottom: 16rpx solid #f9f9f9;
	.flash-sale{
		position: relative;
		width: 50%;
		height: 100%;
		.flash-title{
			display: flex;
			align-items: center;
			// justify-content: space-between;
			width: 100%;
			height: 80rpx;
			margin-left: 30rpx;
			.pictrue{
				display: flex;
				align-items: center;
				height: 100%;
				image{
					width: 118rpx;
					height: 28rpx;
				}
			}
			.date-time{
				display: flex;
				align-items: center;
				margin-left: 10rpx;
				.time{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40rpx;
					height: 40rpx;
					background-color: $price-clor;
					font-size: 26rpx;
					color: #FFFFFF;
					border-radius: 6rpx;
				}
				.da{
					font-size: 24rpx;
					color: #212121;
					margin: 0 6rpx;
				}
			}
		}
	}
	.good-choice{
		width: 50%;
		height: 100%;
		.goods-title{
			display: flex;
			align-items: center;
			padding: 0 20rpx;
			height: 80rpx;
			.title{
				display: flex;
				align-items: center;
				text{
					font-size: 28rpx;
					color: #4c4b4b;
				}
			}
			.describe{
				display: flex;
				align-items: center;
				margin-left: 10rpx;
				text{
					font-size: 24rpx;
					color: #979696;
				}
				.num{
					display: flex;
					align-items: center;
					justify-content: center;
					margin: 0 6rpx;
					width: 30rpx;
					height: 30rpx;
					background-color: $price-clor;
					color: #FFFFFF;
					border-radius: 6rpx;
				}
			}
		}
	}
}

/* 今日上新 */
.new-product{
	padding: 0 25rpx;
	height: 500rpx;
	.product-title{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 100rpx;
		.title{
			display: flex;
			align-items: center;
			image{
				width: 24rpx;
				height: 32rpx;
			}
			text{
				font-size: 32rpx;
				color: #4c4b4b;
				margin-left: 10rpx;
				font-weight: bold;
			}
		}
		.describe{
			display: flex;
			align-items: center;
			text{
				font-size: 32rpx;
				color: #4c4b4b;
				// color: #a09f9f;
			}
		}
	}
	.goods-list{
		white-space:nowrap;
		width: 100%;
		height: 360rpx;
		overflow-y: hidden;
		overflow-x: auto;
		.list{
			display:inline-block;
			width: 30%;
			height: 100%;
			margin-right: 30rpx;
			padding-bottom: 10rpx;
			.pictrue{
				width: 100%;
				height: 60%;
				display: flex;
				align-items: center;
				justify-content: center;
				image{
					width: 150rpx;
					height: 180rpx;
				}
			}
			.price-title{
				width: 100%;
				height: 31px;
				white-space: normal;
				font-size: 24rpx;
				overflow: hidden;
			}
			.price-start{
				width: 100%;
				height: 10%;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.price{
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 15%;
				
				.selling-price{
					font-size: 28rpx;
					font-weight: bold;
					color: $price-clor;
				}
				.original-price{
					font-size: 24rpx;
					// text-decoration: line-through;
					color: $price-clor;
					opacity: 0.8;
					font-weight: bold;
					margin-left: 10rpx;
				}
			}
		}
	}
	
}	
/* 为你推荐 */
.recommend-info{
	width: 100%;
	// background-color: #f2f2f2;
	.recommend-title{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100rpx;
		.title{
			display: flex;
			align-items: center;
			image{
				width: 416rpx;
				height: 40rpx;
			}
		}
	}
	.goods-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 30rpx;
		.list{
			width: 49%;
			height: 100%;
			margin-bottom: 20rpx;
			background-color: #FFFFFF;
			border-radius: 10rpx;
			overflow: hidden;
			.pictrue{
				display: flex;
				justify-content: center;
				width: 100%;
				image{
					height: 350rpx;
				}
			}
			.title-tag{
				// display: flex;
				height: 100rpx;
				padding: 20rpx;
				.tag{
					float: left;
					margin-right: 10rpx;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					white-space: normal;
					font-size: 26rpx;
					line-height: 40rpx;
					text{
						font-size: 24rpx;
						color: #FFFFFF;
						padding: 4rpx 16rpx;
						background: linear-gradient(to right,$base,$change-clor);
						border-radius: 6rpx;
						margin-right: 10rpx;
					}
				}
			}
			.price-start{
				padding: 0 20rpx;
				height: 40rpx;
				display: flex;
				align-items: center;
				font-size: 24rpx;
				color: #232f3e;
			}
			.price-info{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
				padding: 0 20rpx;
				height: 60rpx;
				.user-price{
					display: flex;
					align-items: center;
					text{
						color: $price-clor;
					}
					.min{
						font-size: 24rpx;
					}
					.max{
						font-size: 32rpx;
					}
				}
				.vip-price{
					display: flex;
					align-items: center;
					image{
						width: 26rpx;
						height: 26rpx;
						margin-right: 10rpx;
					}
					text{
						font-size: 24rpx;

						text-decoration: line-through;
						color: #bbbaba;

					}
				}
			}
		}
	}
}